assets/resume/main.aux
assets/resume/main.fdb_latexmk
assets/resume/main.fls
assets/resume/main.log
assets/resume/main.synctex.gz
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
assets/resume/main.pdf
